@import 'tailwindcss';

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: hsl(299.25, 11.496062992125978%, 95.19607843137254%);
  --foreground: hsl(299.25, 1.496062992125978%, 0%);
  --card: hsl(299.25, 16.496062992125978%, 90.19607843137254%);
  --card-foreground: hsl(299.25, 1.496062992125978%, 0%);
  --popover: hsl(299.25, 16.496062992125978%, 85.19607843137254%);
  --popover-foreground: hsl(299.25, 1.496062992125978%, 0%);
  --primary: hsl(299.25, 31.496062992125978%, 50.19607843137255%);
  --primary-foreground: hsl(299.25, 31.496062992125978%, 0.19607843137255526%);
  --secondary: hsl(266.19718309859155, 53.383458646616546%, 26.078431372549023%);
  --secondary-foreground: hsl(266.19718309859155, 53.383458646616546%, 0%);
  --muted: hsl(299.25, 0%, 70.19607843137254%);
  --muted-foreground: hsl(299.25, 31.496062992125978%, 0.19607843137255526%);
  --accent: hsl(250.90909090909088, 94.28571428571426%, 6.862745098039216%);
  --accent-foreground: hsl(250.90909090909088, 94.28571428571426%, 6.862745098039216%);
  --destructive: #ff4444;
  --destructive-foreground: #ffffff;
  --border: hsl(299.25, 1.496062992125978%, 75.19607843137254%);
  --input: hsl(299.25, 1.496062992125978%, 70.19607843137254%);
  --ring: hsl(299.25, 41.49606299212598%, 30.19607843137255%);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: hsl(299.25, 11.496062992125978%, 95.19607843137254%);
  --foreground: hsl(299.25, 1.496062992125978%, 0%);
  --card: hsl(299.25, 16.496062992125978%, 90.19607843137254%);
  --card-foreground: hsl(299.25, 1.496062992125978%, 0%);
  --popover: hsl(299.25, 16.496062992125978%, 85.19607843137254%);
  --popover-foreground: hsl(299.25, 1.496062992125978%, 0%);
  --primary: hsl(299.25, 31.496062992125978%, 50.19607843137255%);
  --primary-foreground: hsl(299.25, 31.496062992125978%, 0.19607843137255526%);
  --secondary: hsl(266.19718309859155, 53.383458646616546%, 26.078431372549023%);
  --secondary-foreground: hsl(266.19718309859155, 53.383458646616546%, 0%);
  --muted: hsl(299.25, 0%, 70.19607843137254%);
  --muted-foreground: hsl(299.25, 31.496062992125978%, 0.19607843137255526%);
  --accent: hsl(250.90909090909088, 94.28571428571426%, 6.862745098039216%);
  --accent-foreground: hsl(250.90909090909088, 94.28571428571426%, 6.862745098039216%);
  --destructive: #ff4444;
  --destructive-foreground: #ffffff;
  --border: hsl(299.25, 1.496062992125978%, 75.19607843137254%);
  --input: hsl(299.25, 1.496062992125978%, 70.19607843137254%);
  --ring: hsl(299.25, 41.49606299212598%, 30.19607843137255%);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(0.269 0 0);
  --sidebar-ring: oklch(0.439 0 0);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
