@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: #FF5733;
    --foreground: #FFFF33;
 
    --card: #33FF83;
    --card-foreground: #3333FF;
 
    --popover: #33FF57;
    --popover-foreground: #3333FF;
 
    --primary: #FF5733;
    --primary-foreground: #FFFF33;
 
    --secondary: #33FF83;
    --secondary-foreground: #3333FF;
 
    --muted: #FF5733;
    --muted-foreground: #FFFF33;
 
    --accent: #33FF83;
    --accent-foreground: #3333FF;
 
    --destructive: #ff0000;
    --destructive-foreground: #ffffff;
 
    --border: #FF5733;
    --input: #FF5733;
    --ring: #FF5733;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: #FF5733;
    --foreground: #FFFF33;
 
    --card: #33FF83;
    --card-foreground: #3333FF;
 
    --popover: #33FF57;
    --popover-foreground: #3333FF;
 
    --primary: #FF5733;
    --primary-foreground: #FFFF33;
 
    --secondary: #33FF83;
    --secondary-foreground: #3333FF;
 
    --muted: #FF5733;
    --muted-foreground: #FFFF33;
 
    --accent: #33FF83;
    --accent-foreground: #3333FF;
 
    --destructive: #ff0000;
    --destructive-foreground: #ffffff;
 
    --border: #FF5733;
    --input: #FF5733;
    --ring: #FF5733;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
